<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/panel.css">
    <title>Admin Panel</title>
</head>
<body>
    <div class="nav-panel">
        <div class="brand" style="display: flex; align-items: center;">
            <h1 style=" margin-right: 30px;"><a href="/panel">SOFIFA</a></h1>
            <div>
                <h5><a href="/">Home</a></h5>
            </div>
        </div>
        <div class="user-data"><h4>user</h4></div>
    </div>
    <div class="main-panel">
        <div class="aside-panel">
            <div class="title"></div>
            <div class="card-panel-aside">
                <a href="/panel/players">Players</a>
            </div>
            <div class="card-panel-aside">
                <a href="/panel/teams">Teams</a>
            </div>
            <div class="card-panel-aside">
                <a href="/panel/nateams">National Teams</a>
            </div>
        </div>
        <div class="content-panel">
            <div>
                <div class="card newplayer">
                    <h3>National Team Maker</h3>
                    <form class="formnew" action="/newnateam" method="POST" enctype="multipart/form-data">
                            <input type="text" placeholder="Name" name="name">
                            <input type="number" placeholder="Rating" name="rating">
                            <input type="file" value="Select Img" name="pic">
                        <button type="submit" class="btn btn-block">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>