<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/panel.css">
    <title>Admin Panel</title>
</head>
<body>
    <div class="nav-panel">
        <div class="brand" style="display: flex; align-items: center;">
            <h1 style=" margin-right: 30px;"><a href="/panel">SOFIFA</a></h1>
            <div>
                <h5><a href="/">Home</a></h5>
            </div>
        </div>
        <div class="user-data"><h4>user</h4></div>
    </div>
    <div class="main-panel">
        <div class="aside-panel">
            <div class="title"></div>
            <div class="card-panel-aside">
                <a href="/panel/players">Players</a>
            </div>
            <div class="card-panel-aside">
                <a href="/panel/teams">Teams</a>
            </div>
            <div class="card-panel-aside">
                <a href="/panel/nateams">National Teams</a>
            </div>
        </div>
        <div class="content-panel">
            <div style="display: flex;flex-wrap: wrap;">
                <div class="card-panel"><a href="/new">NEW PLAYER</a></div>
                <div class="card-panel"><a href="/newteam">NEW TEAM</a></div>
                <div class="card-panel"><a href="/newnateam">NEW NAT. TEAM</a></div>
            </div>
        </div>
    </div>
</body>
</html>